

.forinput{
    width: 285px;
    // min-width: 200px;
    height: 36px;
    // margin: 13px  0 0 620px;
    margin-bottom:7px;
    // margin-left:100%;
    // padding-left: 10px; 
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.9); 
    background: #fff; 
    }    


    .marg{
        width:100%;
        // background-color: rgb(209, 203, 166);
        // border: 1px solid rgb(173, 173, 173);
        height: 35px;
        table-layout: fixed;
      }